code[class*="language-"], pre[class*="language-"] {
  margin: 0;
  text-shadow: unset;
}

div.code-toolbar > .toolbar a, div.code-toolbar > .toolbar button, div.code-toolbar > .toolbar span {
  border-radius: unset !important;
  box-shadow: unset !important;
  padding: 3px .6em !important;
}